.projects-section {
  background-image: url('../../assets/images/worksBackground.jpg');
  background-position: center;
  background-size: cover;
}

.web-dev > .projects-section-title > .projects-title-line{
  background-color: var(--nlv-cyan);
}

.digital-games > .projects-section-title > .projects-title-line{
  background-color: var(--nlv-red);
}

.analog-games > .projects-section-title > .projects-title-line{
  background-color: var(--nlv-white);
}

.projects-section-title {
  font-size: 35px;
  text-align: center;
  align-items: center;
  width: 1200px;
  margin: 0 auto 40px;
}

.projects-title-line {
  flex: 1 1 auto;
  height: 3px;
  border: none;
  margin: 10px 0;
}

@media only screen and (min-width: 768px) and (max-width: 1599px){
  .projects-section-title {
    width: 100%;
  }
}

@media only screen and (max-width: 767px){
  .projects-section-title {
    font-size: 28px;
    width: 100%;
    margin: 20px auto 20px;
  }

  .projects-title-line {
    margin: 10px 0;
  }
}